body{
    font-family: "Montserrat";
    text-align: center;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-bold";
}


p{
    color: #8f8f8f;
    
}
/* headings */
.big-heading{
    font-family: 'Montserrat-black', sans-serif;
    font-weight: bolder;
    font-size: 5rem;
    line-height: 1.5;
}

.section-heading{
    font-size: 3rem;
    line-height:  1.5;
}

.container-fluid{
    padding: 7% 15%;

}

/* title section */
#title{
    background-color: #ff4c68;
    color: white;
    text-align: left;
}
#title .container-fluid{
    padding:  3% 15% 7%;
}

.iphone{  
    transform: rotate(25deg);  
    width: 60%;
    position: absolute;
    right: 30%;
}

@media (max-width: 1100px){
    #title{
        text-align: center;
    }

    .iphone{  
        width: 60%;
        transform: rotate(0deg);
        position: static;
        right: 30%;
    }
}


/*Navigation Bar*/

.navbar{
    padding: 0 0 4.5rem;  
}
.navbar-brand{
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
    padding-bottom: 5%;  
}
.nav-item{
    padding: 0 18px;

}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-light"
}
/* buttons */
.download-button{
    margin: 5%;
}


/* features*/
#features{
    background-color: white;
    position: relative;
}
.features-box{
        padding: 5%;
}
.feauture-title{
 font-size: 2.5rem;
        
}

svg:hover{
    fill:#ff4c68
}

/* Testimonials */
#testimonials{
    background-color: #ff4c68;
    color: white;
}
.testimonials-img{
     width: 20%;
     border-radius: 100%;
     margin: 20px; 
}

.testimonial-text{
    font-size: 3rem;
    line-height:  1.5;
}

#press{
    background-color: #ff4c68;
    padding-bottom: 3%;
}

.Press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing */

#pricing{
    padding: 100px;
    
}

.price-box{
    margin-top: 3.6rem;
}

.price-tag{
    font-size: 3rem;
    line-height:  1.5;
}

.price-group{
    font-size: 2.5rem;

}
.pricing-column{
    padding: 3% 2%;
}

/* cta */
#cta{
    background-color: #ff4c68;
    color: white;
   
}

/* footer */
#footer{
    background-color: white;
    padding-bottom: 1%;
    
}

.social-media{
    margin: 0% 0% 4% 1%;
    height: 12px;
}

.copyright{
    font-size:12px;
}
